*{
  margin:0;
  padding:0;
}
.header{
  width:100%;
  height:10%;
  background-color:green;
  display:flex;
}
.logo{
  width:25%;
  height:100%;
  display:flex;
  background-color:pink;
}
.menu{
  width:75%;
  height:100%;
  display:flex;
  background-color:magenta;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  
}
.img{
  width:auto;
  height:auto;
}
.menu .navbar{
  width:100%;
  height:100%;
  display:flex;
}
.navbar ul{
  display:flex;
  align-items:cemter;
  justify-content:space-around;

}
.navbar ul li{
 list-style:none;
 align-items:center;
  
}
.navbar ul li a{
  text-decoration:none;
  color:black;
  font-size:2vw;
  
}
