*{
  margin:0;
  padding:0;
}
.header{
  width:100%;
  height:10%;
  background-color:green;
  display:flex;
}
.logo{
  width:25%;
  height:100%;
  display:flex;
  background-color:pink;
}
.menu{
  width:75%;
  height:100%;
  display:flex;
  background-color:magenta;
}
